speechmatics-python
soundcard
google-genai
openwakeword
pyaudio
llama-index
llama-index-llms-gemini
llama-index-embeddings-gemini
google_auth_oauthlib
mss
opencv-python
PyQt5
sentence_transformers
groq
